@charset "UTF-8";
/* Custom CSS declarations below  */


/*navigation bar*/
.nav-pills .nav-link.active, .nav-pills .show, .nav-link {
    color: #266141 ;
     font: 1.6em Georgia, serif;
}

/*nav pills*/
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

/*color changes when hovered over nav pills*/
a:hover {
    color: #a3c586;
    text-decoration: underline;
}


/*heading */
h1 {
  font: bold 2.5em Georgia, serif;
  height: 65px;
  color: #266141;
}

/*heading 2*/
h2 {
  font: bold 4.0em Georgia, serif;
  height: 65px;
  color: #266141;
  padding-top: 15px;
  padding-bottom: 90px;
}

/*heading 3*/
h3 { font: 1.5em Open Sans, sans-serif;
    color: #266141;
    
    padding-bottom: 15px;
}

/*heading 4*/
h4 {
  font: 1.9em Georgia, serif;
  height: 45px;
  color: #266141;
  margin: auto;
}

/*heading 5*/
h5 {
  font: bold 1.5em Open Sans, sans-serif;
  color: #4D697C;
  
}

/*paragraph text*/
p {
    font: 1.0em Open Sans, sans-serif;
    color: #000000;
}

/*body and background color*/
body {
    font-family: Open Sans, sans-serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 10% 0;
    background-color: #fcf1d1;
}


div.b {
	color: #E9967A;
	font-size: 400%;
	font-weight: bold;
}

div.c {
	color: #000000;
}

/* Header Navigation All */
.headernav {
  padding-top:6px;
}

/* Logo */
.logo {
  width: 90%;
  padding-top: 5px;
}

.logo1 {
  width: 50%;
  padding-top:25px;
  padding-bottom:25px;
}

.logo2 {
  width: 30%;
  padding-top:25px;
  padding-bottom:5px;
}

/* Navigation Logo */
.logo3 {
  width: 120%;
}



.form-line {
  padding-top: 10px;
}

.topnav {
  float: left;
}

/* Footer */
.footer {
	padding-top: 100px;
}

/* Cards */
.card {
  
}


.clientcard {
  padding-bottom:50px;
}

/* To Do Card */
.bg-primary {
  background-color: #a3c586 !important;
}

/* Sticky Note Card Middle */
.bg-warning {

  background-color: #688B9A !important;
}

/* Sticky Note Card Right Create New */
.bg-success {
  background-color: #FFD762 !important;
}

.buttons {
  padding-bottom: 40px;
}

/* Card Text */
.card-text {
  color: white;
  font-size: 150%;
}

.form-row {
  
  align-items: center;
}

.btn {
  background-color: #266141;
  font: 1.0em Georgia, serif;
  border: none;
  align-items: center;
}

.btn:hover {
    background-color: #a3c586;
    text-decoration: underline;
}

.btn-intake {
  background-color: #266141;
  height: 30px;
}

.employee-btn {
  padding-bottom: 10px;
}

.login-btn {
  padding-top: 30px;
}

.progress1 {
  width: 10%;
  padding-bottom: 20px;
}


.card-text:hover {
  color: #688b9a;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

.home {
  padding-top: 25px;
}


 



/* FA Hover */
.fa:hover {
  opacity: 0.7;
}

/* Font Icon Search */
.fa-search {
  color: #266141;
  padding-right: 30px;
}

/* Font Icon Calendar */
.fa-calendar-alt {
  color: #266141;
  padding-right: 30px;
}

/* Font Icon Sign Out */
.fa-sign-out-alt {
  color: #266141;
}


/* Dropdown menu */
.dropdown-menu, .dropdown-item {
    color: black;
    text-decoration: none;
    background-color: white;
}

/* Dropdown menu */
.dropdown-menu, .dropdown-item:hover {
    color: #98ab9d;
    background-color: white;
} 

